<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= title %> </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">A Yeast Odyssey </a>
    </div>
    <ul class="nav navbar-nav">
<!--      <li class="active"><a href="#">Home</a></li>-->
    </ul>
  </div>
</nav>


<div class="jumbotron text-center">
  <img src="../images/astroyeast.png" class="img-rounded" alt="Logo" >
<!--  <h1> </h1>-->
  <p> This is the home page! </p>
</div>

<div class="container">
<div class="row">
  <div class="form-group">
    <label for="txt">Search for a Gene:</label>
    <br>
    <form method="post" action="/">
      <input type="search" class="form-control" name="txt" placeholder="Gene name. ex: PXR1">
<!--      <input type="search" class="form-control" name="logfc" placeholder="Up or down">-->
      <div class="form-group">
        <label for="sel1"></label>
        <select class="form-control" id="sel1" name="sel1">
          <option>Up</option>
          <option>Down</option>
        </select>
      </div>
      <input type="search" class="form-control" name="adjpval" placeholder="Smallest adjusted P value accepted">
      <br>
<!--      <input type="search" class="form-control" name="platORF" placeholder="Platform_ORF is placed here">-->
<!--      <br>-->
<!--      <input type="search" class="form-control" name="maxp" placeholder="Max adjusted P value accepted">-->
<!--      <br>-->
      <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
  </div>
</div>
</div>

