<!--
© Copyright 2020 iGEM Concordia, Maher Hassanain, Benjamin Clark, Hajar Mouddene, Grecia Orlano 
This file is part of AstroBio.

    AstroBio is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    AstroBio is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with AstroBio.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= title %> </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js">
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">A Yeast Odyssey </a>
    </div>
    <ul class="nav navbar-nav">
<!--      <li class="active"><a href="#">Home</a></li>-->
    </ul>
  </div>
</nav>

<body>
<div class="jumbotron text-center">
  <img src="../images/astroyeast.png" class="img-rounded" alt="Logo" >
<!--  <h1> </h1>-->
</div>

<div class="container">
<div class="row">
  <div class="form-group">
    <label for="search" class="container text-center"><h3>Search Options</h3></label>
    <form method="post" action="/">
      <div class="col-sm-6 container">
        <label for="organism">Organism: </label>
        <select class="form-control" id="organism" name="organism">
          <option>N/A</option>
          <option>Human</option>
          <option>Yeast</option>
          <option>Bacteria</option>
        </select>
        <br>
        <label for="species">Species</label>
        <input type="search" class="form-control" name="species" placeholder="Smallest adjusted P value accepted">
        <br>
        <label for="EGEOD">E-GEOD Number</label>
        <input type="search" class="form-control" name="EGEOD" placeholder="Accession #">
        <br>
        <label for="geneSymbol">Gene Symbol: </label>
        <input type="search" class="form-control" name="geneSymbol" placeholder="Gene Symbol Ex: HSP30">
        <br>

      </div>
      <div class="col-sm-6 container">
<!--        <div class="form-group">-->
          <label for="fc">Fold Change</label>
          <select class="form-control" id="fc" name="fc">
            <option>N/A</option>
            <option>Up</option>
            <option>Down</option>
            <option>Unaffected</option>
          </select>
          <br>
          <label for="adjpval">Smallest Adjusted P Value Accepted</label>
          <input type="search" class="form-control" name="adjpval" placeholder="Smallest adjusted P value accepted">
          <br>
        <label for="studyType">StudyType</label>
        <select class="form-control" id="studyType" name="studyType">
          <option>N/A</option>
          <option>HARV</option>
          <option>RPM</option>
          <option>SPACEFLOWN</option>
          <option>HYPERBOLIC</option>
        </select>
        <br>
        <label for="assayType">StudyType</label>
        <select class="form-control" id="assayType" name="assayType">
          <option>N/A</option>
          <option>Microarray</option>
          <option>RNAseq</option>
        </select>
        <br>

      </div>
<!--      <input type="search" class="form-control" name="logfc" placeholder="Up or down">-->

      <!--      <input type="search" class="form-control" name="platORF" placeholder="Platform_ORF is placed here">-->
<!--      <br>-->
<!--      <input type="search" class="form-control" name="maxp" placeholder="Max adjusted P value accepted">-->
      <button type="submit" class="btn btn-primary container"> Submit </button>

      <!--      <br>-->
    </form>
  </div>
</div>
</div>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Created by Maher Hassanain. All Rights Reserved.
        <p> DE Analysis: Benjamin Clark</p>
        <br>
        <br>
    </div>
</footer>
</body>

<!--<footer>-->
<!--  <p>Maher Hassanain<br>-->
<!--</footer>-->
<!-- Footer -->

<!-- Footer -->

<html>
