<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Theme Made By www.w3schools.com -->
    <title>ASTROBIO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./javascripts/style.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="main" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/astrobio.png" alt="logo" width="180" height="47"> </a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
<!--                <li><a href="#about">ABOUT</a></li>-->
<!--                <li><a href="#howto">HOW TO</a></li>-->
                <li><a href="./literature">LITERATURE</a></li>
                <li><a href="./research">CURRENT PRACTICES</a></li>
                <li><a href="/">HOME PAGE</a></li>
<!--                <li><a href="#partners">PARTNERS</a></li>-->
<!--                <li><a href="#contactus">CONTACT US</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div id="about" class="container-fluid">

    <h2>List of Microgravity Journals </h2>
    <ul>
        <li> <a href="https://www.springer.com/journal/12217" target="_blank">An International Journal for Microgravity and Space Exploration Related Research</a>
        </li>
        <li><a href="http://www.jasma.info/journal/about-ijmsa-journal" target="_blank">International Journal of Microgravity Science and Application (IJMSA)</a>
        </li>
        <li><a href="http://gravitationalandspaceresearch.org/index.php/journal/article/view/114" target="_blank">Journal of the American Society of Gravitational and Space Research </a>
        </li>
        <li><a href="https://www.springer.com/journal/12217/" target="_blank">Microgravity Science and Technology</a>
        </li>
        <li><a href="https://www.nature.com/npjmgrav/" target="_blank">Nature Partner Journal : Microgravity </a>
        </li>
    </ul>

    <h2>List of Genome-wide analysis papers in microgravity </h2>
    <ul>
        <li> Abdelmoaty, H., Hammond, T. G., Wilson, B. L., Birdsall, H. H., & Clement, J. Q. (2015). Identification of Putative Major Space Genes Using Genome-Wide Literature Data. Biotechnology. <a href="https://www.intechopen.com/books/biotechnology/identification-of-putative-major-space-genes-using-genome-wide-literature-data" target="_blank">doi:10.5772/60412</a>
            <p>“This paper is an extended review and meta-analysis of gene expression profiles to identify major space genes, with emphasis on findings on mammalian cells”. (mammalian, spaceflown)</p>
        </li>
        <li> Clement, J. Q., Lacy, S. M., & Wilson, B. L. (2007). Genome-wide gene expression profiling of microgravity effect on human liver cells. Journal of gravitational physiology : a journal of the International Society for Gravitational Physiology, 14(1), P121–P122. <a href="https://pubmed.ncbi.nlm.nih.gov/18372729/" target="_blank"> PMID:18372729</a>
            <p>“The main objective of this study was to apply DNA microarray technology in time-course experiments for genome-wide search of genes whose expression are altered by microgravity” (human liver cells, rotary cell culture system)</p>
        </li>
        <li>Clement JQ, Lacy SM, Wilson BL. Gene expression profiling of human epidermal keratinocytes in simulated microgravity and recovery cultures. Genomics Proteomics Bioinformatics. 2008;6(1):8-28. <a href="https://www.sciencedirect.com/science/article/pii/S1672022908600170" target="_blank"> doi:10.1016/S1672-0229(08)60017-0</a>
            <p>“Thus, the aim of this study was to display time course gene expression profiles and identify key gravity sensitive genes for human keratinocytes in response to microgravity.” (human skin keratinocyte, HARV)</p>
        </li>
        <li>Fengler S, Spirer I, Neef M, Ecke M, Nieselt K, Hampp R. A whole-genome microarray study of Arabidopsis thaliana semisolid callus cultures exposed to microgravity and nonmicrogravity related spaceflight conditions for 5 days on board of Shenzhou 8. Biomed Res Int. 2015;2015:547495.<a href="https://www.hindawi.com/journals/bmri/2015/547495/" target="_blank"> doi: 10.1155/2015/547495</a>
            <p>“The impact on the Arabidopsis transcriptome was investigated by means of whole-genome gene expression analysis” (Arabidopsis thaliana, spaceflown)</p>
        </li>
        <li>Gambara, G., Salanova, M., Ciciliot, S., Furlan, S., Gutsmann, M., Schiffl, G., Ungethuem, U., Volpe, P., Gunga, H. C., & Blottner, D. (2017). Microgravity-Induced Transcriptome Adaptation in Mouse Paraspinal longissimus dorsi Muscle Highlights Insulin Resistance-Linked Genes. Frontiers in physiology, 8, 279.<a href="https://pubmed.ncbi.nlm.nih.gov/28529490/" target="_blank"> PMID: 28529490</a>
            <p>“The aim of this study was to evaluate longissimus dorsi adaptation to microgravity at both morphological and global gene expression level” (Mouse skeletal muscle tissue (longissimus dorsi), spaceflown) </p>
        </li>
        <li>Herranz, R., Hill, R. J., Dijkstra, C. E., Eaves, L., Loon, J. J., & Medina, F. J. (2013). The behavioural-driven response of the Drosophila imago transcriptome to different types of modified gravity.<a href="http://www.hoajonline.com/genomics/2052-7993/1/1" target="_blank"> doi: 10.7243/2052-7993-1-1</a>
            <p>“In this article, we use whole-genome microarray platforms to investigate how different types of altered gravity conditions generated by ground-based facilities affect the gene expression profile of young Drosophila melanogaster female populations exposed to these conditions for 3-4 days.” (Drosophila melanogaster, random positioning machine)</p>
        </li>
        <li>Hu, Z., Wang, H., Wang, Y., Zhou, H., Shi, F., Zhao, J., Zhang, S., & Cao, X. (2017). Genome‑wide analysis and prediction of functional long noncoding RNAs in osteoblast differentiation under simulated microgravity. Molecular medicine reports, 16(6), 8180–8188.<a href="http://www.hoajonline.com/genomics/2052-7993/1/1" target="_blank"> doi: 10.3892/mmr.2017.7671</a>
            <p>“The present study screened for differentially-expressed lncRNAs and mRNAs in the MC3T3-E1 pre-osteoblast cells, prior to and following exposure to simulated microgravity, using microarray profiling.” (Mouse MC3T3-E1 pre-osteoblast cells, 2D Rotating Wall Vessel Bioreactor)</p>
        </li>
        <li>Jin, J., Chen, H., & Cai, W. (2015). Transcriptome Analysis of Oryza sativa Calli Under Microgravity. Microgravity Science and Technology, 27(6), 437-453. </li><a href="https://link.springer.com/article/10.1007/s12217-015-9432-2" target="_blank"> doi: 10.1007/s12217-015-9432-2</a>
        <p>“Oryza sativa calli were recovered, and the RNA was extracted for transcriptome analysis.” (Oryza sativa, spaceflown)</p>
        </li>
        <li>Nislow, C., Lee, A. Y., Allen, P. L., Giaever, G., Smith, A., Gebbia, M., Stodieck, L. S., Hammond, J. S., Birdsall, H. H., & Hammond, T. G. (2015). Genes required for survival in microgravity revealed by genome-wide yeast deletion collections cultured during spaceflight. BioMed research international, 2015, 976458.</li><a href="https://pubmed.ncbi.nlm.nih.gov/25667933/" target="_blank"> doi: 10.1155/2015/976458</a>
        <p>(Saccharomyces cerevisiae, spaceflown)</p>
        </li>
        <li>Sheehan, K. B., McInnerney, K., Purevdorj-Gage, B., Altenburg, S. D., & Hyman, L. E. (2007). Yeast genomic expression patterns in response to low-shear modeled microgravity. BMC genomics, 8, 3.</li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1774566/" target="_blank"> doi: 10.1186/1471-2164-8-3</a>
        <p>“In this study, we examined the global transcriptional response of yeast cells grown under LSMMG conditions using DNA microarray analysis in order to determine if exposure to LSMMG results in changes in gene expression.” (Saccharomyces cerevisiae (BY4743), HARV bioreactors)</p>
        </li>
        <li>Vidyasekar, P., Shyamsunder, P., Arun, R., Santhakumar, R., Kapadia, N. K., Kumar, R., & Verma, R. S. (2015). Genome Wide Expression Profiling of Cancer Cell Lines Cultured in Microgravity Reveals Significant Dysregulation of Cell Cycle and MicroRNA Gene Networks. PloS one, 10(8), e0135958.</li><a href="https://pubmed.ncbi.nlm.nih.gov/26295583/" target="_blank"> doi: 10.1371/journal.pone.0135958</a>
        <p>“This study reports the genome wide expression profiling of a colorectal cancer cell line-DLD-1, and a lymphoblast leukemic cell line-MOLT-4, under simulated microgravity in an effort to understand central processes and cellular functions that are dysregulated among both cell lines” (human cells, HARV)</p>
        </li>
        <li>Wilson, J. W., Ramamurthy, R., Porwollik, S., McClelland, M., Hammond, T., Allen, P., Ott, C. M., Pierson, D. L., & Nickerson, C. A. (2002). Microarray analysis identifies Salmonella genes belonging to the low-shear modeled microgravity regulon. Proceedings of the National Academy of Sciences of the United States of America, 99(21), 13807–13812.</li><a href="https://www.pnas.org/content/99/21/13807" target="_blank"> doi: 10.1073/pnas.212387899</a>
        <p>“In this study, we used DNA microarrays to elucidate the global transcriptional response of Salmonella to LSMMG” (Salmonella enterica, HARV)</p>
        </li>
    </ul>
</div>

<!-- Container (Sponsors Section) -->
<!--<div id="partners" class="container-fluid text-center">-->
<!--    <h2>Partners</h2><br>-->
<!--    <br>-->
<!--    <br>-->
<!--    &lt;!&ndash;    <h4>What we have created</h4>&ndash;&gt;-->
<!--    <div class="row text-center slideanim">-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/concordia.png" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/nserc.jpg" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/synbioapps.jpg" alt="img3" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/idnat.jpg" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/promega.png" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/snapgene.jpg" alt="img3" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div><br>-->
<!--    <div class="row text-center slideanim">-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/mathworks.jpg" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/geneious.jpg" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/benchling.jpg" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/newenglandbiolabs.png" alt="img1" width="200" height="75">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/aminobiolabs.png" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div><br>-->
</div>
</div>


<!-- Container (Support Section) -->
<!--<div id="contactus" class="container-fluid">-->
<!--    <div class="col-sm-12 text-center">-->
<!--        <h2>CONTACT US</h2>-->
<!--        <br>-->
<!--        <h3>iGEM Concordia 2020</h3>-->
<!--        <p><span class="glyphicon glyphicon-map-marker"></span> Montreal, QC, Canada</p>-->
<!--        <p><span class="glyphicon glyphicon-education"></span> Concordia University</p>-->
<!--        <p><span class="glyphicon glyphicon-envelope"></span> igem.concordia@gmail.com</p>-->
<!--        &lt;!&ndash;            <div class="row">&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="col-sm-6 form-group">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="col-sm-6 form-group">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>&ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-sm-12 form-group">-->
<!--                &lt;!&ndash;                    <p>Social Media</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <button class="btn btn-default pull-right" type="submit">Send</button>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>
<footer class="container-fluid text-center bg-grey">
    <a href="#main" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p> © 2020 iGEM Concordia. All rights reserved.</p>
</footer>
</body>
</html>