<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Theme Made By www.w3schools.com -->
    <title>ASTROBIO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./javascripts/style.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="main" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/astrobio.png" alt="logo" width="180" height="47"> </a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
<!--                <li><a href="#about">ABOUT</a></li>-->
<!--                <li><a href="#howto">HOW TO</a></li>-->
                <li><a href="./literature">LITERATURE</a></li>
                <li><a href="./research">CURRENT PRACTICES</a></li>
                <li><a href="/">HOME PAGE</a></li>
<!--                <li><a href="#partners">PARTNERS</a></li>-->
<!--                <li><a href="#contactus">CONTACT US</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div id="currentpractices" class="container-fluid">
    <h2>Current practice in microgravity research</h2>
    <h3> Microgravity Methods </h3>
    <p>Simulated Microgravity, or Low-Shear Simulated Microgravity (LSSMG) is an accessible and affordable means to study cells in microgravity conditions here on Earth. It is also used for experiments such as growing cellular suspension cultures or for studying hard-to-form crystals. The hardware chosen is specific to the sample and experiment. There are many permutations of designs which exist and which are supported in literature. </p>
    <p>Simulated Microgravity (SMG) and Low-Shear Simulated Microgravity (LSSMG) are accepted as suitable for microgravity studies here on Earth, but are known to not simulate the same conditions as studies in space. Experimental results from one microgravity simulator to the next are also known to vary for the same experiment. </p>
    <h4>When choosing a SMG consider:</h4>
    <ul>
        <li><b>The rotations per minute</b>: Make sure that they are faster than the biological processes being monitored. </li>
        <li><b>The artifacts</b>: This can range from vibrations to centrifugal forces. </li>
        <li><b>Your sample and length of experiment</b>: Do you require rotation in two dimensions or in three dimensions, which is more often used for cellular cultures. Do your organisms produce gas or require nutrient exchange? </li>
        <li><b>The method of monitoring your sample</b>: Do you require a detector on your SMG?</li>
        <li><b>Budget</b>: Microgravity simulators can be purchased or built. Many designs include simple parts and can be made at a low cost. More specialised designs can become quite expensive quickly. </li>
    </ul>

    <h5>Flight and Space studies</h5>
    <ul>
        <li>Low Earth Orbit</li>
        <li>Recovery and Reentry Capsules or Satellites</li>
        <li>International Space Station (ISS)</li>
        <li>Ballooning</li>
        <li>Parabolic Flight (the Vomit Comet)</li>
        <li>Drop Towers/ Free Fall</li>
    </ul>

    <h5>Simulating microgravity (10^-3 - 10^-6 g)</h5>
    <ul>
        <li><b>2D Clinostat:</b> rotation perpendicular to the gravity vector</li>
        <li><b>3D Clinostat:</b> two independent axises rotating</li>
        <p><b>Random Positioning Machine (RPM):</b> a version of the 3D Clinostat with random orientation of the two independent axis</p>

        <li><b>Rotating Wall Vessel (RWV)</b></li>
        <p>A vessel usually filled with liquid culture which rotates perpendicular to the direction of gravity which results in low-shear simulated microgravity conditions. Some variations include bioreactors.
            Variations of RWVs:</p>
        <ul>
            <li>Rotary Cell Culture System (RCCS)</li>
            <li>Rotating Wall Bioreactor (RWB) </li>
            <li> High Aspect Rotating Vessel (HARV)</li>
        </ul>
        <li><b>Diamagnetic Levitation:</b> opposes the vector of gravity with a generated magnetic field</li>

    </ul>

    <h4>References</h4>

    <ul>
        <li>Huang, B., Li, D., Huang, Y. et al. Effects of spaceflight and simulated microgravity on microbial growth and secondary metabolism. <i>Military Med Res 5,</i> 18 (2018). Doi: <a href="https://doi.org/10.1186/s40779-018-0162-9" target="_blank">10.1186/s40779-018-0162-9</a></li>
        <li>Klaus D. M. (2001). Clinostats and bioreactors. <i>Gravitational and space biology bulletin: Publication of the American Society for Gravitational and Space Biology, 14 </i>(2), 55–64. PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/11865869/" target="_blank"> 11865869</a></li>
        <li>Simon L. Wuest, Stéphane Richard, Sascha Kopp, Daniela Grimm, Marcel Egli, "Simulated Microgravity: Critical Review on the Use of Random Positioning Machines for Mammalian Cell Culture", <i>BioMed Research International, </i> vol. 2015, Article ID 971474, 8 pages, 2015. Doi: <a href="https://doi.org/10.1155/2015/971474" target="_blank">10.1155/2015/971474</a></li>
        <li><a href="http://synthecon.com/pages/autoclavable_rotating_wall_vessel_synthecon_26.asp." target="_blank">Synthecon (2019) Autoclavable rotating wall vessels—3D cell culture. 2019</a></li>

    </ul>

    <h3>Bonn Criteria for Microgravity Experiments</h3>
    <p>We recommend the Bonn Criteria for Simulated Microgravity. The Bonn Criteria are a proposed set of minimum operational parameters to report, with the aim of benefit-sharing in the field of microgravity research.</p>
    <p><b>Reference for the Bonn Criteria:</b> Hammond, T., Allen, P. (2011). The Bonn Criteria: Minimal Experimental Parameter Reporting for Clinostat and Random Positioning Machine Experiments with Cells and Tissues. <i>Microgravity Sci. Technol.</i> 23, 271–275 . <a href="https://doi.org/10.1007/s12217-010-9226-5." target="_blank">10.1007/s12217-010-9226-5</a> </p>
</div>

<!-- Container (Sponsors Section) -->
<!--<div id="partners" class="container-fluid text-center">-->
<!--    <h2>Partners</h2><br>-->
<!--    <br>-->
<!--    <br>-->
<!--    &lt;!&ndash;    <h4>What we have created</h4>&ndash;&gt;-->
<!--    <div class="row text-center slideanim">-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/concordia.png" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/nserc.jpg" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/synbioapps.jpg" alt="img3" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/idnat.jpg" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/promega.png" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/snapgene.jpg" alt="img3" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div><br>-->
<!--    <div class="row text-center slideanim">-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/mathworks.jpg" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/geneious.jpg" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/benchling.jpg" alt="img2" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/newenglandbiolabs.png" alt="img1" width="200" height="75">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--            <div class="img">-->
<!--                <img src="/images/aminobiolabs.png" alt="img1" width="200" height="70">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div><br>-->
</div>
</div>


<!-- Container (Support Section) -->
<!--<div id="contactus" class="container-fluid">-->
<!--    <div class="col-sm-12 text-center">-->
<!--        <h2>CONTACT US</h2>-->
<!--        <br>-->
<!--        <h3>iGEM Concordia 2020</h3>-->
<!--        <p><span class="glyphicon glyphicon-map-marker"></span> Montreal, QC, Canada</p>-->
<!--        <p><span class="glyphicon glyphicon-education"></span> Concordia University</p>-->
<!--        <p><span class="glyphicon glyphicon-envelope"></span> igem.concordia@gmail.com</p>-->
<!--        &lt;!&ndash;            <div class="row">&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="col-sm-6 form-group">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="col-sm-6 form-group">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>&ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-sm-12 form-group">-->
<!--                &lt;!&ndash;                    <p>Social Media</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <button class="btn btn-default pull-right" type="submit">Send</button>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>
<footer class="container-fluid text-center bg-grey">
    <a href="#main" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p> © 2020 iGEM Concordia. All rights reserved.</p>

</footer>
</body>
</html>