/* New style */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  body {
    background: #ffffff;
    font-size: 16px;
    line-height: 24px;
  }
  
  .wrapper {
    position: absolute;
    left: 5%;
    top: 5%; 
    display: flex;
  }
  
  .wrapper .wrapper_left {
    align-items: top;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #ffffff;
    display: flex;
    max-height: 152px;
  }

  .wrapper .wrapper_left ul li {
    padding: 12px 15px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    width: 200px;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  
  .wrapper .wrapper_left ul li p {
    position: relative;
  }
  
  .wrapper .wrapper_left ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #079CBC;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.4s ease;
  }

  .top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid #aaaaaa;
  }

  .middle {
    border-bottom: 2px solid #aaaaaa;  
  }

  .bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .wrapper .wrapper_left ul li.active p {
    color: #fff;
  }
  .wrapper .wrapper_left ul li.active:before {
    width: 100%;
    transition: all 0.2s ease;
  }
  
  .wrapper .wrapper_left ul li:last-child {
    margin-bottom: 0;
  }
  
  .wrapper .wrapper_right {
    width: 900px;
    padding: 30px 50px;
  }
  
  .wrapper .wrapper_right .title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #079CBC;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .wrapper .wrapper_right .item .item_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .wrapper .wrapper_right .item .item_info .img {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
  }
  
  .wrapper .wrapper_right .item .item_info .img:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("https://i.imgur.com/HwNnoFN.png") no-repeat 0 0;
    width: 94px;
    height: 101px;
  }
  

.wrapper .wrapper_right .item .item_info p {
    background: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: #abaacd;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper .wrapper_right .item_info p {
    color: #dd0330;
  }
  .wrapper .wrapper_right .item_info p {
    color: #8bc500;
  }
  .wrapper .wrapper_right .item_info p {
    color: #61dafb;
  }
  .wrapper .wrapper_right .item_info p {
    color: #41b783;
  }
  
  .wrapper .wrapper_right .item p {
    margin-bottom: 20px;
    color: #fff;
  }

  /* Gene - Headers */
.header {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
.underline {
    border-bottom: 2px solid #aaaaaa;
}

.black-color {
  color: #000;
}